#wrapper{
	width: 80%;
	margin: auto;
}
#slider{
	position: relative;
	margin: auto;
	width: 60%;
	height: 570px;
	background: grey;
}
#slider .arrow_left{

}
#slider .arrow_right{
	
}
#slider #main_image{
	background-image: url(image/kr100.jpg);
	width: 100%;
	height: 500px;
	margin: auto;
}
#slider #main_image img{
	width: 100%;
	height: auto;
}
#slider #thumbnail_container{
	width: 100%;
	height: 70px;
	margin-top: 0px;
	margin: auto;
	background: #000000;
	/*padding: 5px;*/
}
#slider #thumbnail_container ul{
	margin: auto;
}
#slider #thumbnail_container ul li{
	display: inline-block;
}
#slider #thumbnail_container ul li .thumbnail{
	height: 60px;
	width: auto;
	margin: auto;
	margin-right: 8px;
	cursor: pointer;
}
#slider #thumbnail_container ul li .thumbnail:last-child{
	margin-right: 0;
}
#slider #thumbnail_container img{

}